---
---

  .right-align {
    text-align: right;
  }

  i {
    font-size: 4rem;
  }

  body{
    font-size: 4rem;
  }

  .resume-h1{
    margin: 0px;
    top: 10px;
  }

  .box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .video-container{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }

  .game-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pdf-button {
    top:-10px;
    text-align: center;
    align-self: center;
  }

  .column-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 80%;
  }

  .column-list li {
    width: 33.33%;
    box-sizing: border-box;
    padding: 1px;
    position: relative;
    left: 60px;
  }

  .column-list li::before {
    content: "\2022"; /* Unicode character for bullet (•) */
    position: relative;
    left: -10px;
    top: 1px;
    font-size: 1.4rem;
  }

  .resume-list{
    font-size: 1rem;
    padding: 0px;
    margin: 5px;
    width: 70%;
    top: -10px;
  }

  .resume-list li + li {
    margin-top: -13px;
  }

  .resume-list li::before{
    content: "\2023"; /* Unicode character for triangle bullet*/
    position: relative;
    left: -10px;
    top: 5px;
    font-size: 2rem;
  }

  .resume-section{
    position: relative;
    padding:20px;
  }

  .resume-section img {
    position: absolute;
    top: 45px;
    right: 15px;
    width: 11%;
    float: right;
    clear: left;
  }

  .resume-section p {
    margin-top: .4em;
    margin-bottom: .4em;
  }

  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #ccc, #ccc);
  }

  .icon-list-container{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
  }

  .icon-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width:100%;
  }

  .icon-list li {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
  }

  .is-centered{
    text-align: center;
    align-self: center;
  }

  .is-right{
    text-align: right;
    align-self: right;
  }

  .pt-24 {
    padding-top: 24rem !important;
  }

  .pt-12 {
    padding-top: 12rem !important;
  }
  
  .is-bg-cover {
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .has-no-rounded {
      border-radius: 0px !important;
  }
  
  .is-cursor-pointer {
      cursor: pointer !important;
  }
  
  .transform {
      -webkit-transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
      transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  }
  
  .is-duration-300 {
      transition-duration: 0.3s;
  }
  
  .is-bg-cover .card-content {
    background-color: rgba(0, 0, 0, 0.02);
  }
  
  .is-bg-cover:hover .card-content {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .title-transform-y {
    -webkit-transform: translateX(0) translateY(5rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
    transform: translateX(0) translateY(5rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  }
  
  .underline-br {
    width: 5rem;
    height: 0.5rem;
    background-color: yellow;
  }
  
  .text-motion {
    opacity: 0;
  }
  
  .is-bg-cover:hover .card-content .text-motion {
    opacity: 1;
  }
  
  .is-bg-cover:hover .title-transform-y {
    -webkit-transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
    transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  }
  
  .is-bg-zoom:hover {
      background-size: 125%;
  }
  
  .hover-translate-y:hover {
      -webkit-transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) !important;
      transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) !important;
  }
  
  .is-bg-zoom {
      background-position: center;
      background-size: 100%;
      transition: all 0.3s ease-in-out;
  }

  @media (max-width: 800px) {

    .is-bg-zoom {
      background-position: center;
      background-size: 130%;
  }

    .column-list {
      flex-direction: column; /* Display items in a single column */
    }

    .column-list li {
      width: 100%; /* Set full width for single column */
    }

    .resume-section h2 {
      font-size: 1rem;
      width:60%;
    }

    .resume-section img {
      position: absolute;
      top: 30px;
      right: 10px;
      width: 19%;
    }

    i{
      font-size: 2rem;
    }

    .icon-list-container{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      justify-content: center;
      width: 100%;
    }
  
    .icon-list{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
      width:100%;
    }

    .icon-list li {
      width: 33.333%;
      box-sizing: border-box;
      padding: 10px;
      position: relative;
    }
  }



// override bulma vars here

$primary: #091068;
$background: #1d1459;
$body-background-color: #192157;

$scheme-main: #202020;
$body-color: #ffffff;
$scheme-main-bis: $primary;

$text: #ececec;
$text-light: #ffffff;
$text-strong: #ffffff;

$link: #66a3e9;
$link-hover: #5eaed3;
$link-visited: #7969c2;

// Import Main CSS file from theme
@import "main";