---
---

  .right-align {
    text-align: right;
  }

  i {
    font-size: 4rem;
  }

  body{
    font-size: 4rem;
  }

  .box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .video-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }

  .game-container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* CSS styles for the 3-column list */
  .column-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
  }

  .column-list li {
    width: 33.33%;
    box-sizing: border-box;
    padding: 1px;
    position: relative;
  }

  .column-list li::before {
    content: "\2022"; /* Unicode character for bullet (•) */
    position: relative;
    left: -10px;
  }

  .icon-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    width:60%;
  }

  .icon-list li {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
  }

  .is-centered{
    text-align: center;
    align-self: center;
  }

  .pt-24 {
    padding-top: 24rem !important;
  }

  .pt-12 {
    padding-top: 12rem !important;
  }
  
  .is-bg-cover {
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .has-no-rounded {
      border-radius: 0px !important;
  }
  
  
  .is-cursor-pointer {
      cursor: pointer !important;
  }
  
  .transform {
      -webkit-transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
      transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  }
  
  .is-duration-300 {
      transition-duration: 0.3s;
  }
  
  .is-bg-cover .card-content {
    background-color: rgba(0, 0, 0, 0.02);
  }
  
  .is-bg-cover:hover .card-content {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .title-transform-y {
    -webkit-transform: translateX(0) translateY(5rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
    transform: translateX(0) translateY(5rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  }
  
  .underline-br {
    width: 5rem;
    height: 0.5rem;
    background-color: yellow;
  }
  
  .text-motion {
    opacity: 0;
  }
  
  .is-bg-cover:hover .card-content .text-motion {
    opacity: 1;
  }
  
  .is-bg-cover:hover .title-transform-y {
    -webkit-transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
    transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  }
  
  .is-bg-zoom:hover {
      background-size: 125%;
  }
  
  .hover-translate-y:hover {
      -webkit-transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) !important;
      transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1) !important;
  }
  
  .is-bg-zoom {
      background-position: center;
      background-size: 100%;
      transition: all 0.3s ease-in-out;
  }

// override bulma vars here

$primary: #1c2946;
$background: #3a4e7c;
$body-background-color: #242d42;

$scheme-main: #44486b;
$body-color: #dbdbdd;
$scheme-main-bis: $primary;

$text: #d6d6d6;
$text-light: #e2e2e2;
$text-strong: #ffffff;

$link: #66a3e9;
$link-hover: #5eaed3;
$link-visited: #7969c2;

// Import Main CSS file from theme
@import "main";